// Main Layout styles
.layout {
	width: 100%;
	height: 100%;
	background: var(--grey);
	max-width: var(--layout-max-widrh);
	position: fixed;
	left: 50%;
	opacity: 0;
	overflow: hidden;
	@include translate(-50%, 0);
}

body.loaded {
	.layout {
		opacity: 1;
	}
}
